In [1]:
word = 22
word+1

23

where in the above code the word value is assign as 22 so now in the word we have 22 if we add any thingto the word it be 22 + value you whan to add

In [3]:
word

22

where the value of word will not change

In [5]:
print('here' + 'here' + 'here')

hereherehere

In python we can add the word and for 
easy we can multiple the word.

In [6]:
print('here'*3)

hereherehere

let us see some valid and invalid variable names

In [8]:
money = 10

In [9]:
money

10

In [13]:
@money = 10

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3514666062.py, line 1)

In [14]:
_money = 12

In [15]:
_money

12

In [16]:
+money = 56

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (847271593.py, line 1)

In [17]:
&money = 56

SyntaxError: invalid syntax (1022048978.py, line 1)

In [18]:
2money = 95

SyntaxError: invalid decimal literal (3592966353.py, line 1)

In [19]:
.money = 69

SyntaxError: invalid syntax (600079595.py, line 1)

take input from the user and preform different datatype methods

In [20]:
var = input("Enter a number:")
var

'10'

In [21]:
type(var)

str

In [22]:
var = int(var)
type(var)

int

In [23]:
var = float(var)
type(var)

float

In [24]:
var

10.0

 Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [25]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [27]:
'I have eaten ' +'99'+ ' burritos.'

'I have eaten 99 burritos.'