## Deep Dive into Operators

### Video Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [2]:
## Arithmetic Operations
a = 56
b = 23

add_result = a + b
sub_result = a - b
mul_result = a * b
div_result = a/b
floor_div_result = a//b
modul_result = a%b
expo_result = a**b

print(add_result)
print(sub_result)
print(mul_result)
print(div_result)
print(floor_div_result)
print(modul_result)
print(expo_result)

79
33
1288
2.4347826086956523
2
10
16155656889615734329398214425629966729216

In [3]:
10/5

2.0

In [4]:
21/6

3.5

In [5]:
21//6

3

Comparison Operations

In [7]:
## Comparison Operations
## == Equal to
a = 23
b = 56
a==b

False

In [8]:
str1 = "Bhargav"
str2 = "Bhargav"
str1==str2

True

In [10]:
str1!=str2

False

In [11]:
# greater than
num1 = 56
num2 = 96
num1>num2

False

In [12]:
## less than <
print(num1<num2)

True

In [13]:
#greater than or equal to
number1 = 65
number2 = 96
print(number1>=number2)

False

In [14]:
number1 = 96
number2 = 96
print(number1>=number2)

True

In [15]:
number1 = 98
number2 = 96
print(number1>=number2)

True

#### Logical Operators

In [16]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [17]:
X=False
Y=True

result =X and Y
print(result)

False

In [18]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [19]:
# Not operator
X=False
not X

True

In [20]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 78.0
Subtraction: 34.0
Multiplication: 1232.0
Division: 2.5454545454545454
Floor Division: 2.0
Modulus: 12.0
Exponentiation: 2.884938730288524e+38