In [1]:
a = 100

In [2]:
age = 22
height = 5.9
name = "bhargav"
is_student = True
print("age :",age)
print("Height :",height)
print("name :",name)
print("is_student :",is_student)

age : 22
Height : 5.9
name : bhargav
is_student : True

In [3]:
## naming conventions
first_name = "bhargav"
last_name = "naidu"

In [4]:
2age = 22

SyntaxError: invalid decimal literal (1589430688.py, line 1)

In [5]:
@name = "bhargav"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2239518746.py, line 1)

In [6]:
## understanding variables type
age = 22
height = 5.9
name = "bhargav"
is_student = True
print(type(age))

<class 'int'>

In [8]:
## type checking and type conversion
age = 23
print(type(age))
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [10]:
age = '25'
type(int(age))
print(age)

25

In [11]:
## dynamic typing
x = 10
print(x,type(x))
x = "hello"
print(x,type(x))

10 <class 'int'>
hello <class 'str'>

In [1]:
## input

age=int(input("What is the age"))
print(age,type(age))

22 <class 'int'>

In [2]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 88.0
Difference: -42.0
Product: 1495.0
Quotient: 0.35384615384615387

### Conclusion:
Variables are essential in Python programming for storing and manipulating data. Understanding how to declare, assign, and use variables effectively is crucial for writing functional and efficient code. Following proper naming conventions and understanding variable types will help in maintaining readability and consistency in your code.